<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        {{#foreach category.breadcrumb}}
            <li><a href="{{path}}">{{name}}</a></li>
        {{/foreach}}
        <li class="active">{{text category.name words="15"}}</li>
    </ol>
    <div ng-controller="domainListController" class="page-header text-center">
        <h1>{{category.name}}</h1>
    </div>

    <div class="content">
        <div>

        </div>
        <div class="row">
            <div id="domain-list" class="col-md-8"></div>
            <div class="col-md-4">
                <div class="input-group" style="margin-top: 15px">
                    <input id="domain" type="text" class="form-control" placeholder="输入域名（不包括.eth)，回车或者点击.eth" aria-describedby="basic-addon2">
                    <span
                            class="input-group-addon"
                            id="ok"
                            style="
                        cursor: pointer;
                        :hover{
                            background: blue;
                        }
                        "
                    >
                .eth
                    </span>
                </div>

                <div style="margin-top: 40px;">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>所属</td>
                            <td id="owner"></td>
                        </tr>
                        <tr>
                            <td>登记时间</td>
                            <td id="time"></td>
                        </tr>
                        <tr>
                            <td>邮箱</td>
                            <td id="email"></td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td id="more"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <div id="success" style="margin-top: 20px" class="alert alert-success">
                    </div>
                    <div id="error" class="alert alert-danger">
                    </div>
                </div>

                <form id="post-domain" method="post" action="/domain">
                    <div class="form-group">
                        <div class="input-group">
                            <input name="domain" class="form-control" placeholder="多个域名以,号分割">
                            <span class="input-group-addon">
                            .eth
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input name="email" class="form-control">
                            <span class="input-group-addon">
                            联系邮箱
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input name="more" class="form-control" placeholder="不能超过20个字">
                            <span class="input-group-addon">
                            备注
                            </span>
                        </div>
                    </div>
                    <input id="post-domain-owner" name="owner" type="hidden" value="">
                    <input type="submit" class="form-control btn btn-success">
                </form>
            </div>
        </div>

        <script type="application/javascript" src="/javascripts/web3.js"></script>

        <script type="application/javascript" src="/javascripts/handlebars.js"></script>

        <script type="application/javascript">
            var domainTpl;
            Handlebars.registerHelper('upperFromIndex', function(value) {
                if(value >= 0 && value <26) {
                    var char = String.fromCharCode(value + 65);
                    return new Handlebars.SafeString(char.toUpperCase());
                } else {
                    return '#';
                }
            });
            $.get("/tpl/domain-tpl.hbs", function (data) {
                domainTpl = Handlebars.compile(data);
                $.get("/domain/all", function (data) {
                    if(typeof(data) == "string") {
                        data = JSON.parse(data);
                    }
                    $("#domain-list").html(domainTpl(data));

                    $(".domain-list-item").click(function (e) {
                        var text = $(this).text();
                        text = text.replace(/\.eth$/, "");
                        $("#domain").val(text);
                        Search();
                    });
                });
            });
        </script>

        <script type="application/javascript">
            toHide = [
                    "error",
                    "success"
            ];
            toHide.forEach(function (t) { $("#" + t).hide() });

            function Search(){
                var search = $("#domain").val();
                toHide.forEach(function (t) { $("#" + t).hide() });

                if(search.length < 7){
                    if(search.length == 0) {
                        return;
                    } else {
                        $("#error").html("域名长度不能小于7， " + search + " 只有" + search.length);
                        $("#error").show();
                        return;
                    }
                } else {
                    //add a random to prevent cache
                    $.get("/domain?domain=" + search, function (data) {
                        $("#success").html("查询成功");
                        $("#success").show();
                        if(typeof(data) == "string") {
                            data = JSON.parse(data);
                        }
                        Object.keys(data).forEach(function(key){
                            if(key == "time"){
                                var time = new Date(data[key]);
                                $("#" + key).html(time.toLocaleDateString());
                                return;
                            }
                            $("#" + key).html(data[key])
                        });
                    });
                }
            }

            $("#ok").click(Search);
            $('#domain').keypress(function (e) {
                if (e.which == 13) {
                    Search();
                    return false;    //<---- Add this line
                }
            });

        </script>

        <script type="application/javascript">
            $("#post-domain").hide();

            if(typeof web3 !== 'undefined') {
                // If there's a web3 library loaded, then make your own web3
                var web3 = new Web3(web3.currentProvider);
                $("#success").html("ens域名注册Dapp启动中...");
                $("#success").show();
                web3.eth.getAccounts(function(e, a){
                    var text = "";
                    if(e){
                        text = "获取账户信息失败！" + e.toString();
                    } else if(a.length == 0){
                        text = "ens域名注册Dapp启动成功, 但没有eth账户连接";
                    } else {
                        text = "ens域名注册Dapp启动成功，连接账户" + a[0];
                        OWNER = a[0];
                        $("#post-domain-owner").val(OWNER);
                    }

                    setTimeout(function () {
                        $("#success").html(text);
                        if(OWNER && OWNER.length > 0) {
                            $("#post-domain").show();
                        }
                    }, 2000);
                });
            } else {
                // Alert the user he is not in a web3 compatible browser
                setTimeout(function () {
                    $("#error").html("提交域名请在<a href='http://ethfans.org/wikis/Mist-Mirror'>mist浏览器</a>中打开本地址");
                    $("#error").show();
                }, 2000);
            }
        </script>



    </div>
</div>