<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        {{#foreach category.breadcrumb}}
            <li><a href="{{path}}">{{name}}</a></li>
        {{/foreach}}
        <li class="active">{{text category.name words="15"}}</li>
    </ol>
    <div ng-controller="domainListController" class="page-header text-center">
        <h1>{{category.name}}</h1>
    </div>

    <div class="content">
        <div class="container">
            <div class="row">
                <div id="error" class="col-md-8 col-md-offset-2" style="text-align: center; font-size: 40px;color:red">

                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $.urlParam = function(name, url) {
            if (!url) {
                url = window.location.href;
            }
            var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(url);
            if (!results) {
                return undefined;
            }
            return results[1] || undefined;
        }

        var error = $.urlParam("error");

        if(error && error.length > 0){
            error = decodeURIComponent(error);
            $("#error").html(error);
        } else{
            $("#error").html("操作成功，信息可能需要过会儿才能正确显示");
        }
    </script>
</div>