<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        {{#foreach category.breadcrumb}}
            <li><a href="{{path}}">{{name}}</a></li>
        {{/foreach}}
        <li class="active">{{text category.name words="15"}}</li>
    </ol>
    <div ng-controller="domainListController" class="page-header text-center">
        <h1>{{category.name}}</h1>
    </div>

    <div class="content">
        <div class="row">
            <div id="domain-list" class="col-md-8"></div>
            <div class="col-md-4">
                <div class="input-group" style="margin-top: 15px">
                    <input id="domain" type="text" class="form-control" placeholder="输入域名（不包括.eth)，回车或者点击.eth" aria-describedby="basic-addon2">
                    <span
                            class="input-group-addon"
                            id="ok"
                            style="
                        cursor: pointer;
                        :hover{
                            background: blue;
                        }
                        "
                    >
                .eth
                    </span>
                </div>

                <div style="margin-top: 40px;">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>所属</td>
                            <td id="owner"></td>
                        </tr>
                        <tr>
                            <td>登记时间</td>
                            <td id="time"></td>
                        </tr>
                        <tr>
                            <td>邮箱</td>
                            <td id="email"></td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td id="more"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <div id="success" style="margin-top: 20px" class="alert alert-success">
                    </div>
                    <div id="error" class="alert alert-danger">
                    </div>
                </div>
            </div>
        </div>

        <script type="application/javascript" src="/javascripts/web3.js"></script>
        <script type="application/javascript" src="/javascripts/handlebars.js"></script>

        <script type="application/javascript">
            var seq = 'abcdefghijklmnopqrstunvxyz#';
            /*
            for(var i = 0; i < seq.length; i ++){
                $("#domain-list").append(
                    '<div class="row" id="seq' + i + '">' + seq[i].toUpperCase() + '</div>'
                )
            }*/

        </script>



        <script type="application/javascript">
            var domainTpl;
            Handlebars.registerHelper('upperFromIndex', function(value) {
                if(value >= 0 && value <26) {
                    var char = String.fromCharCode(value + 65);
                    return new Handlebars.SafeString(char.toUpperCase());
                } else {
                    return '#';
                }
            });
            $.get("/tpl/domain-tpl.hbs", function (data) {
                domainTpl = Handlebars.compile(data);
                $.get("/domain/all", function (data) {
                    if(typeof(data) == "string") {
                        data = JSON.parse(data);
                    }
                    $("#domain-list").html(domainTpl(data));
                });
            });
        </script>

        <script type="application/javascript">
            toHide = [
                    "error",
                    "success"
            ];
            toHide.forEach(function (t) { $("#" + t).hide() });

            function Search(){
                var search = $("#domain").val();
                toHide.forEach(function (t) { $("#" + t).hide() });

                if(search.length < 7){
                    if(search.length == 0) {
                        return;
                    } else {
                        $("#error").html("域名长度不能小于7， " + search + " 只有" + search.length);
                        $("#error").show();
                        return;
                    }
                } else {
                    //add a random to prevent cache
                    $.get("/domain?domain=" + search, function (data) {
                        $("#success").html("查询成功");
                        $("#success").show();
                        if(typeof(data) == "string") {
                            data = JSON.parse(data);
                        }
                        Object.keys(data).forEach(function(key){
                            if(key == "time"){
                                var time = new Date(data[key]);
                                $("#" + key).html(time.toLocaleDateString());
                                return;
                            }
                            $("#" + key).html(data[key])
                        });
                    });
                }
            }

            $("#ok").click(Search);
            $('#domain').keypress(function (e) {
                if (e.which == 13) {
                    Search();
                    return false;    //<---- Add this line
                }
            });
        </script>

    </div>
</div>