<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        {{#foreach category.breadcrumb}}
            <li><a href="{{path}}">{{name}}</a></li>
        {{/foreach}}
        <li class="active">{{text category.name words="15"}}</li>
    </ol>

    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <select >选择代币</select>

                    <input id="ico-addr">

                    <button>确定</button>
                </div>

                <div>
                    <input id="transferAmount">
                    <input id="tranferTo">
                    <button id="btn-transfer">
                        发送
                    </button>
                </div>
            </div>

            <div class="col-md-4">
                <label>总量</label>
                <label>拥有数量</label>
            </div>
        </div>
    </div>
</div>