<div id="handle" style="margin-top: 15px">

    <div class="input-group">
                        <span class="input-group-addon">
                            当前Resolver地址
                        </span>
        <input type="text" class="form-control" id="resolver">
    </div>

    <br/>
    <div class="input-group">
                        <span class="input-group-addon">
                            当前解析到
                        </span>
        <input type="text" class="form-control" id="resolver">
    </div>
</div>